<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/work">Work</a></li>
    		</ul>
		</nav>
		<div class="container">
    {{ content }}
			
			</div><!-- /.container -->
			<footer>
	    	<ul>
    		
        		<li><a href="mailto:rafaelabecerrarobalino@gmail.com">email</a></li>
        		<li><a href="https://github.com/Rafaelab1227">github.com/Rafaelab1227</a></li>
            <li><a href="https://www.linkedin.com/in/rafaela-becerra-robalino-/">LinkedIn</a></li>
			</ul>
			<img alt="" src="image2.png" style="width: 982.68px; height: 7.18px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title="">
		</footer>
	</body>
</html>
